.avatar-container {
  padding: 10px;
  border-bottom: 1px solid #666;
  font-family: "Lucida Console";
  margin-bottom: 10px; }
  .avatar-container .avatar {
    border: 1px solid #ccc;
    background: #111;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden; }
    .avatar-container .avatar .caption {
      background: #999;
      color: #000;
      font-weight: bold;
      font-size: 18px; }
