.menu-button{
  display:inline-block;
  color:#444;
  font-size:18 px;
  padding:5px 10px;
  width:100%;
  margin:2px 0px;
  text-decoration: none;
  transition:all .25s ease-in-out;
  &:hover{
    color:#64ad70;
  }
  &:before{
    content:"\/\/ "
  }
}
